<div class="container flex-container flex-container-vertical">
    <div class="flex-item">
    </div>
    <div class="login-form flex-item">
        <div class="form-header">
            <h3>LOGIN</h3>
        </div>
        <form ngNativeValidate #form="ngForm" class="form-body" (submit) = "authenticate()">
            <p *ngIf="!status" class="error-msg">{{ loginResponse.errorMessage }}</p>
            <p *ngIf="success" class="success-msg">Welcome {{ loginResponse.employee.name }}!</p>
            <input type="text" placeholder="Email id" name="email" autocomplete="off" ngModel [(ngModel)]="userData.emailId" required />
            <br/><br/>
            <input type="password" placeholder="Password" name="password" autocomplete="off" ngModel [(ngModel)]="userData.password" required /> 
            <br/><br/>
            <div class="roles">
                <input type="radio" name="role" value="0" required ngModel [(ngModel)]="userData.role"/> Trainee &nbsp;&nbsp;&nbsp;
                <input type="radio" name="role" value="1" required ngModel [(ngModel)]="userData.role"/> Trainer
            </div>
            <input type="submit" value="Login"/>
        </form>
    </div>
    <div class="flex-item">
    </div>
</div>